.root {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.meta {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}

.username {
  font-weight: 600;
  cursor: pointer;
}

.name {
  cursor: pointer;
}
