.component-container {
  justify-self: center;
}

@media (max-width: 65em) {
  .component-container {
    max-width: 35em;
    min-width: 20em;
  }
}

.grid {
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(275px, 0.9fr);
  gap: 0.9rem;
}

.flow-column {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.no-results {
  text-align: center;
}
