.buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.edit-profile-card {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: 15em;
  width: 35em;
}

.edit-profile-input {
  width: 95%;
}

.component-container {
  justify-self: center;
  min-width: 20em;
}
